@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink&display=swap");

:root {
  --gameBoard-size: 80vh;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: var(--gameBoard-size);
  height: var(--gameBoard-size);
  gap: 2px;
  background-color: black;
  margin: auto;
  margin-top: 20px;
}

.gameSpace {
  background-color: black;
  font-family: "Bitcount Prop Double Ink", sans-serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
  box-sizing: border-box;
}
