/* styles for Concentration board */

/*
To achieve the flipping effect on a mouse-over (hover), we need to position and style the nest of DOM objects with a handful of special 3D-rotation CSS properties, a transform rotation applied on :hover, and transitions to make the rotations apply smoothly.
*/

* {
  box-sizing: border-box;
}

:root {
  --cardSize: 130px; /* variable for card dimensions */
}

/****************************** general card styling */

.card {
  position: relative;
  width: var(--cardSize);
  height: var(--cardSize);
  perspective: 500px; /* special CSS property relevant to 3D flips */
  margin-bottom: 1rem;
}

.cardContent {
  position: absolute; /* positioning within the parent card object */
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d; /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
  transform: rotateY(180deg); /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
  position: absolute; /* positioning within the parent cardContent object */
  text-align: center;
  height: 100%;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 42px;
  backface-visibility: hidden; /* special CSS property relevant to 3D flips */
}

.cardTop {
  background-color: darkblue;
  color: #eee;
}

.cardBottom {
  background-color: #eee;
  color: darkblue;
  transform: rotateY(180deg); /* pre-flip so it appears on parent's flip */
}


/****************************** specific card styling */



.pair1 .cardBottom {
  background-color: darkred;
}

.pair2 .cardBottom {
  background-color: rgb(191, 234, 191);
}

.pair3 .cardBottom {
  background-color: rgb(255, 182, 193);
}

.pair4 .cardBottom {
  background-color: rgb(173, 216, 230);
}

.pair5 .cardBottom {
  background-color: rgb(255, 255, 0);
}

.pair6 .cardBottom {
  background-color: rgb(255, 165, 0);
}

.pair7 .cardBottom {
  background-color: rgb(96, 31, 215);
}

.pair8 .cardBottom {
  background-color: rgb(245, 200, 127);
}


/******************************8 gameBoard formatting */

#gameBoard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2, 1fr;
  gap: 1rem;
}

@media screen and (orientation: landscape) {
  
  :root {
    --cardSize: 20vw;

    #gameBoard {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
